<p id="notice"><%= notice %></p>

<h1>Problems</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Statement</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.title %></td>
        <td><%= problem.statement %></td>
        <td><%= link_to 'Show', problem %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
