<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @problem.statement %>
</p>

<p>Run the following command to submit your exploit</p>
<pre>
$ docker login docker.ctf.codeblue.jp
> Username: your team email
> Password: your team password
$ docker push docker.codeblue.jp/<%= @problem.title %>
</pre>

<%= link_to 'Back', problems_path %>
