<!DOCTYPE html>
<html>
  <head>
    <title>BullsEye</title>
    <link href="http://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <%= stylesheet_link_tag    'viewer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'viewer', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
